<mat-card>
    <mat-card-title>Alteração de Escola Pública</mat-card-title>
    <form [formGroup]="schoolForm" autocomplete="off" novalidate>
        <mat-form-field>
            <input matInput placeholder="Nome*" [(ngModel)]="school.name" name="name" formControlName="name">
            <mat-error *ngIf="hasError('name', 'required')">Campo nome é obrigatório.</mat-error>
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="updateSchool(schoolForm.value)" color="primary" [disabled]="!schoolForm.valid">
        Alterar
    </button>     
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button> 
</mat-card>